.navbar{
    background-color:forestgreen;
}

.navbar-nav li a{
    color:whitesmoke;
}

.navbar-nav li a:hover{
    color:black;
    background-color:forestgreen;
}

.navbar-header a{
    color:whitesmoke;
}