@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using WhereMyMoney.Models;

@if (Context.Session.Keys.Count() > 0)
{
    ViewBag.UserName = JsonConvert.DeserializeObject<SessionObject>(Context.Session.GetString("SessionObject")).UserName;
    ViewBag.IsAdmin = JsonConvert.DeserializeObject<SessionObject>(Context.Session.GetString("SessionObject")).IsAdmin;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where Is My Money</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Trace" asp-action="Index" class="navbar-brand"><span class="glyphicon glyphicon-user"></span> Wellcome @(ViewBag.UserName == null ? "to (Where Is My Money)" : ViewBag.UserName) !</a>
            </div>
            <div class="navbar-collapse collapse">
                @if (ViewBag.Session != null)
                {
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Trace" asp-action="Index">My Money</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Administration
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.IsAdmin)
                                {
                                    <li><a asp-controller="User" asp-action="Index">User</a></li>
                                    <li><a asp-controller="Currency" asp-action="Index">Currency</a></li>
                                }
                                <li><a asp-controller="Category" asp-action="Index">Category</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="User" asp-action="ChangePassword"><span class="glyphicon glyphicon-barcode"></span> Change Password</a></li>
                        <li><a asp-controller="User" asp-action="LogOut"><span class="glyphicon glyphicon-off"></span> Sign Out</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Where Is My Money - Yumiki Studio</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
